* {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: hidden;
  overflow-x: hidden;
}
#container1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
 #ui {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top:0;
  left:0;
}
.hud{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color:whitesmoke;
}
.word{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color:whitesmoke;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#canvas1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(142deg,
      #6ab7ff,
      #5ca2e4,
      #518cc4,
      #3d6c99,
      #254767,
      #132536,
      #09121c,
      #000000);
  background-size: 1600% 1600%;
  animation: fade 1000s ease;
  animation-fill-mode: forwards;
}


@keyframes fade {
  0% {
    background-position: 50% 10%;
  }

  100% {
    background-position: 50% 90%;
  }
}
#layer1,
#layer2,
#layer3,
#layer4,
#player,
#angler1,
#angler2,
#lucky,
#projectile,
#gears,
#hivewhale,
#drone,
#smokeExplosion,
#fireExplosion,
#rainbowExplosion,
#lionfish1,
#seahorse,
#turtle1,
#turtle2,
#turtle3,
#turtle4,
#turtle5,
#jellyfish1,
#jellyfish2,
#jellyfish3,
#jellyfish4,
#jellyfish5,
#chtullie,
#angela1,
#angela2,
#goldfish,
#shark {
  display: none;
}

